@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/nunito');               

*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

li {
    margin: 0;
}

#logo {
    height: 90px;
    width: 90px;
    margin-top: 20px;
}

nav h4 {    
    font-size: 27px;
    color: #1F1F1F;
    transition: 0.5s;
    margin-left: 30px;
    text-align: center;
    align-items: center;
    display: flex;
}

h4:hover {
    transition: 0.5s;
    color: #21b469;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    background: #F0F0F0;
    height: 10vh;
    box-shadow: 0px 15px 0px 0px #fbdb44;
    -webkit-box-shadow: 0px 15px 0px 0px #fbdb44;
    -moz-box-shadow: 0px 15px 0px 0px #fbdb44;
}

main {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
    background: url("IMG/carousel/3.jpg");
    background-size: cover;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

 #box {
    background-color: #F0F0F0;
    position: relative;
    width: 100%;
    max-width: calc(100% - 30%);
    height: calc(100% - 10%);
    border-radius: 50px;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
}

#inner-box {
    position: absolute;
    width: calc(100% - 65px);
    height: calc(100% - 65px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    transition: 0.8s ease-in-out;
}

form {
    max-width: 260px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Nunito', sans-serif;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: opacity 0.02s 0.4s;
}

form.sing-up-form {
    opacity: 0;
    pointer-events: none;
}

.parrot {
    display: flex;
    align-items: center;
}

.parrot img {
    width: 30%;
    height: 100%;
    margin: 5px;
    margin-right: 12px;
}

.parrot h4 {
    font-size: 27px;
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: black;
}

#heading1 h2, #heading2 h2{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

#heading1 h6, #heading2 h6 {
    font-size: 20px;
    font-weight: 600;
    color: #e63950;
    display: inline;
}

#heading1 a, #heading2 a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: 0.8s;
}

#heading1 a:hover, #heading2 a:hover {
    color: #21b469;
    transition: 0.8s;
    opacity: 0.75;
    letter-spacing: 0.5px;
}

.input-wrap {
    position: relative;
    height: 35px;
    margin-bottom: 25px;
    font-size: 18px;
}

.input-field {
    position: absolute;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 0.5px solid black;
    transition: 0.5s;
}

label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
}

.input-field.active {
    border-bottom-color: #1F1F1F;
}

.input-field.active + label {
    font-size: 18px;
    font-weight: bolder;
    top: -3.5px;
    transition: 0.5s;
    opacity: 0.75;
    color: #21b469;
}

.sign-button {
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 20px;
    background-color: #1F1F1F;
    color: #F0F0F0;
    border: none;
    cursor: pointer;
    border-radius: 40px;
    transition: 1.0s;
}

.sign-button:hover {
    background-color: #21b469;
    opacity: 0.75;
    transition: 1.0s;
}

.actual-form p {
    margin-top: 25px;
    color: black;
    font-size: 17px;
}

.actual-form a {
    color: black;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.8s;
}

.actual-form a:hover {
    color: #21b469;
    transition: 0.8s;
    opacity: 0.75;
    letter-spacing: 0.5px;
}

main.sing-up-mode form.sing-in-form {
    opacity: 0;
    pointer-events: none;
}

main.sing-up-mode form.sing-up-form {
    opacity: 1;
    pointer-events: all;
}

main.sing-up-mode #form-wrap {
    left: 55%;
}

main.sing-up-mode #carousel {
    left: 0%;
}

#carousel {
    position: absolute;
    height: 100%;
    width: 55%;
    top: 0;
    left: 45%;
    background-color: #FF9333;
    border-radius: 30px;
    display: grid;
    grid-template-rows: auto 1fr;
    transition: 0.8s ease-in-out;
    overflow: hidden;
}

.images-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.image {
    width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.img-1 {
    transform: translate(0, -50px);
}

.img-2 {
    transform: translate(0, -50px);
}

.img-3 {
    transform: translate(0, -50px);
}

.img-4 {
    transform: translate(0, -50px);
}

.img-5 {
    transform: translate(0, -50px);
}

.img-6 {
    transform: translate(0, -50px);
}

.img-7 {
    transform: translate(0, -50px);
}

.img-8 {
    transform: translate(0, -50px);
}

/* VER TRANSIÇÕES QUE FICARIAM LEGAIS EM UM CARROSEL */

.image.show {
    opacity: 1;
    transform: none;
}

.text-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-wrap {
    max-height: 35px;
    overflow: hidden;
    margin-bottom: 20px;
}

.text-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateY(0);
    transition: 0.5s;
}

.text-group h2 {
    line-height: 35px;
    font-size: 30px;
}

.bullets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span {
    display: block;
    width: 14px;
    height: 14px;
    background-color: #F0F0F0;
    margin: 0 6px;
    border-radius: 50px; 
    transition: 0.4s;
}

.bullets span.active {
    width: 30px;
    background-color: #1F1F1F;
    border-radius: 16px;
}

footer {
    background-color: #3b8a62;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 60px;
    padding: 2px 0px;
    width: 100%;
    box-shadow: 0px -15px 0px 0px #93db3c;
    -webkit-box-shadow: 0px -15px 0px 0px #93db3c;
    -moz-box-shadow: 0px -15px 0px 0px #93db3c;
}

#social-media {
    margin: 20px 0px;
}

#social-media a{
    color: #fbdb44;
    border-radius: 50px;
    text-decoration: none;
    font-size: 50px;
    transition: 0.5s;
}

#social-media a:hover {
    letter-spacing: 1px;
    transition: 0.5s;
    color: #F0F0F0;
}