/* ESTRUTURA BASE */

@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/nunito');               

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    margin: 0;
}

#logo {
    height: 3.2em;
    width: 3.2em;
    margin-top: 0.7em;
}

nav a {    
    font-size: 2em;
    color: #1F1F1F;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-weight: 550;
}
 
a:hover {
    transition: 0.5s;
    color: #21b469;
}

nav {
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-family: 'Montserrat', sans-serif;
    background: #F0F0F0;
    height: 10vh;
    border-bottom: 0.5em solid #fbdb44;
}

header {
    transition: filter 0ms ease-in-out 0ms;
}

.navlist {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: center;
    left: center;
    border-radius: 5em;
    padding: 0.2em 1em 0.2em 1em;
}
 
.navlist a{
    font-size: 1.7em;
    color: #1F1F1F;
    transition: 0.5s;
    list-style: none;
    text-decoration: none;
    padding-right: 0.5em;
    font-weight: 550;
}

.navlist a:hover {
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: #21b469;
}

.container1 {
    width: 3em;
    height: 3em;
    border-radius: 5em;
    background: #49d066;
    position: relative;
    transition: 0.8s;
    overflow: hidden;
    border: 2px transparent #1F1F1F;
}

.container1.active {
    width: 22em;
    transition: 0.8s;
}

.container1 .icon {
    font-size: 1em;
    position: absolute;
    left: 1.5em;
    top: 1.5em;
    transform: translate(-50%, -50%);
}

.input {
    position: relative;
    width: 37em;
    height: 3em;
    left: 3em;
}

.input input {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5em;
    text-indent: 0.5em;
}

.container1 .input .close {
    position: absolute;
    top: 0.6em;
    right: 7em;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    cursor: pointer;
    color: #fa3c43;
    opacity: 0.7;
}

.container1 .icon .search {
    font-size: 2em;
    cursor: pointer;
    color: #1F1F1F;
}

main {
    font-family: 'Nunito', sans-serif;
    background: url("IMG/carousel/3.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(300deg,#479f77,#56b786,#56b769,#49d066,#f8dd53ef);
    background-size: 240% 240%;
    animation: main 40s ease infinite;
    transition: filter 0ms ease-in-out 0ms;
}

#btn {
    border: none;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    left: -0.3em;
}

.options {
    list-style-type: none;
    opacity: 0;
    flex-direction: column;
    position: relative;
    top: -45%;
    left: 77%;
    transition: 0.5s;
}

.options.active {
    background: #F0F0F0;
    border-radius: 2em;
    padding: 1.5em;
    opacity: 1;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -45%;
    left: 77%;
    transition: 0.5s;
}

.options a {
    font-size: 1.2em;
    transition: 0.5s;
    text-decoration: none;
    color: #1F1F1F;
    font-weight: 650;
    padding-bottom: 1em;
}

.options a:hover {
    font-size: 1.2em;
    color: #21b469;
    letter-spacing: 0.05em;
    font-weight: 650;
    transition: 0.5s;
}

@keyframes main {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

::-webkit-scrollbar {
    width: 0.6rem;
}
 
::-webkit-scrollbar-thumb {
    background: #f7a130;
    border-radius: 5em;
}

::-webkit-scrollbar-track {
    background: #c2c2c2;
}

.box {
    background-color: #F0F0F0;
    position: relative;
    width: 100%;
    max-width: calc(100% - 30%);
    height: calc(100% - 8%);
    border-radius: 5em;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////// */
/* PERFIL */

.left-box-pf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}

.right-box-pf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65%;
    height: 100%;
    position: relative;
    top: -100%;
    left: 35%;
}
  
  .about h2 {
    position: relative;
    transform: translate(-50%, -50%);
    left: -50%;
    font-size: 2.2em;
    color: #1F1F1F;
  }
  
  .right-box-pf ul {
      list-style: none;
      text-decoration: none;
      color: #1F1F1F;
      position: relative;
  }
  
  .right-box-pf li {
      position: relative;
      font-size: 2em;
      font-weight: 550;
      color: #2b2b2b;
      display: inline-flex;
      justify-content: center;
      padding: 0.2em;
      transition: 0.5s;
      position: relative;
      top: 0.5em;
      cursor: pointer;
  }
  
  .right-box-pf li:hover {
      color: #21b469;
      letter-spacing: 0.01em;
      transition: 0.5s;
  }
  
  .content ul {
      list-style: none;
      text-decoration: none;
      color: #1F1F1F;
      border-top: 2px solid #1f1f1f;
  }
  
  .content li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
      position: relative;
      font-size: 5em;
      left: 0.5em;
      top: -100%;
      color: #2b2b2b;
      padding: 0.2em;
      transition: 0.5s;
      cursor: pointer;
  }
  
  .content li:hover {
      letter-spacing: 0.1em;
      color: #21b469;
  }
/* ////////////////////////////////////// */
/* ARTICLES */

.text-area-content {
    background: none;
    width: 65.5em;
    height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5em;
    font-size: 1.5em;
    resize: none;
    outline: none;
    border: none;
}

.popup-card-article1, .popup-card-article2, .popup-card-article3,
.popup-card-article4, .popup-card-article5, .popup-card-article6,
.popup-card-article7, .popup-card-article8, .popup-card-article9,
.popup-card-article10, .popup-card-article11, .popup-card-article12,
.popup-card-article13, .popup-card-article14, .popup-card-article15 {
    position: absolute;
    left: 20%;
    top: 42%;
    transform: translate(-50%, -50%);
    width: 82em;
    height: 50em;
    padding: 1em;
    background: white;
    border-radius: 3em;
    opacity: 0;
    display: none;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    transition: top 0ms ease-in-out 0ms,
    opacity 300ms ease-in-out;
}

.popup-card-article1.active, .popup-card-article2.active, .popup-card-article3.active,
.popup-card-article4.active, .popup-card-article5.active, .popup-card-article6.active,
.popup-card-article7.active, .popup-card-article8.active, .popup-card-article9.active,
.popup-card-article10.active, .popup-card-article11.active, .popup-card-article12.active,
.popup-card-article13.active, .popup-card-article14.active, .popup-card-article15.active {
    position: absolute;
    left: 20%;
    top: 42%;
    transform: translate(-50%, -50%);
    width: 82em;
    height: 50em;
    padding: 1em;
    background: white;
    border-radius: 3em;
    opacity: 0;
    display: flex;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    transition: top 0ms ease-in-out 0ms,
    opacity 300ms ease-in-out;
}


.popup-card-article1 h2, .popup-card-article2 h2, .popup-card-article3 h2,
.popup-card-article4 h2, .popup-card-article5 h2, .popup-card-article6 h2,
.popup-card-article7 h2, .popup-card-article8 h2, .popup-card-article9 h2,
.popup-card-article10 h2, .popup-card-article11 h2, .popup-card-article12 h2,
.popup-card-article13 h2, .popup-card-article14 h2, .popup-card-article15 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}

.popup-card-article1 p, .popup-card-article2 p, .popup-card-article3 p,
.popup-card-article4 p, .popup-card-article5 p, .popup-card-article6 p,
.popup-card-article7 p, .popup-card-article8 p, .popup-card-article9 p,
.popup-card-article10 p, .popup-card-article11 p, .popup-card-article12 p,
.popup-card-article13 p, .popup-card-article14 p, .popup-card-article15 p {
    font-size: 1.5em;
}

.popup-card-article1 i, .popup-card-article2 i, .popup-card-article3 i,
.popup-card-article4 i, .popup-card-article5 i, .popup-card-article6 i,
.popup-card-article7 i, .popup-card-article8 i, .popup-card-article9 i,
.popup-card-article10 i, .popup-card-article11 i, .popup-card-article12 i,
.popup-card-article13 i, .popup-card-article14 i, .popup-card-article15 i {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 3em;
    transition: 0.5s;
}

.popup-card-article1 i:hover, .popup-card-article2 i:hover, .popup-card-article3 i:hover,
.popup-card-article4 i:hover, .popup-card-article5 i:hover, .popup-card-article6 i:hover,
.popup-card-article7 i:hover, .popup-card-article8 i:hover, .popup-card-article9 i:hover,
.popup-card-article10 i:hover, .popup-card-article11 i:hover, .popup-card-article12 i:hover,
.popup-card-article13 i:hover, .popup-card-article14 i:hover, .popup-card-article15 i:hover {
    color: #fa3c43;
    transition: 0.5s;
}

body.active-popup header,
body.active-popup footer {
    filter: blur(0.2em);
    transition: filter 0ms ease-in-out 0ms;
}

body.active-popup .popup-card-article1, body.active-popup .popup-card-article2, body.active-popup .popup-card-article3,
body.active-popup .popup-card-article4, body.active-popup .popup-card-article5, body.active-popup .popup-card-article6,
body.active-popup .popup-card-article7, body.active-popup .popup-card-article8, body.active-popup .popup-card-article9,
body.active-popup .popup-card-article10, body.active-popup .popup-card-article11, body.active-popup .popup-card-article12,
body.active-popup .popup-card-article13, body.active-popup .popup-card-article14, body.active-popup .popup-card-article15 {
    /* top: 50%; */
    opacity: 1;
    transition: top 0ms ease-in-out 0ms,
                opacity 300ms ease-in-out;
}

.main-home-box1, .main-home-box2, .main-home-box3, .main-home-box4, .main-home-box5 {
    height: 70%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
}

.bottom-home-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 5em; */
}

.top-home-box p {
    font-size: 2em;
    font-weight: 550;
    transition: 0.5s;
    cursor: pointer;
    font-size: 2em;
}

.top-home-box p:hover {
    color: #21b469;
    transition: 0.5s;
    letter-spacing: 0.01em;   
}

.card-article1 img, .card-article2 img, .card-article3 img, .card-article4 img, .card-article5 img {
    width: 10em;
    height: 10em;
    border-radius: 2em 0 0 2em;
    transition: 0.1s;
    margin-right: 1em;
}

.card-article1, .card-article2, .card-article3, .card-article4, .card-article5 {
    width: 50em;
    height: 10em;
    border-radius: 2em;
    background: #21b469;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 0.05em;
}

.info-article p {
    padding-bottom: 0.5em;
}

.read_more {
    background-color: #1F1F1F;
    color: white;
    padding: 0.9em;
    border: none;
    border-radius: 2em;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 550;
    transition: 0.2s;
    cursor: pointer;
}
 
.read_more:hover {
    font-size: 0.92em;
    transition: 0.2s;
}

.bullets-home {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bullets-home span {
    display: block;
    width: 1em;
    height: 1em;
    background-color: #1F1F1F;
    margin: 0 0.4em;
    border-radius: 5em; 
    transition: 0.4s;
}

.bullets-home span.active {
    width: 2em;
    background-color: #21b469;
    border-radius: 1em;
}

/* ////////////////////////////////////// */
/* FOOTER DE BASE */

footer {
    background-color: #3b8a62;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5.2em;
    padding: 0.2em 0em;
    width: 100%;
    box-shadow: 0px -15px 0px 0px #93db3c;
    -webkit-box-shadow: 0px -15px 0px 0px #93db3c;
    -moz-box-shadow: 0px -15px 0px 0px #93db3c;
    transition: filter 0ms ease-in-out 0ms;
}

#social-media {
    margin: 1em 0em;
}

#social-media a{
    color: #fbdb44;
    border-radius: 5em;
    text-decoration: none;
    font-size: 3.5em;
    transition: 0.5s;
}

#social-media a:hover {
    letter-spacing: 0.3em;
    transition: 0.5s;
    color: #F0F0F0;
}