/* ESTRUTURA BASE */

@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/nunito');               

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    margin: 0;
}

#logo {
    height: 3em;
    width: 3em;
}

nav h4 {    
    font-size: 2em;
    color: #1F1F1F;
    transition: 0.5s;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: 1em;
}

h4:hover {
    transition: 0.5s;
    color: #21b469;
}

nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    background: #F0F0F0;
    height: 10vh;
    box-shadow: 0px 15px 0px 0px #fbdb44;
    -webkit-box-shadow: 0px 15px 0px 0px #fbdb44;
    -moz-box-shadow: 0px 15px 0px 0px #fbdb44;
}

.navlist {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3em;
    left: -50em;
    background: #fbdb44;
    border-radius: 5em;
    padding: 0.2em 1em 0.2em 1em;
    box-shadow: 1px 5px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 5px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 5px 20px 0px rgba(0,0,0,0.3);
}

.navlist a{
    font-size: 3em;
    color: #1F1F1F;
    transition: 0.5s;
    list-style: none;
    text-decoration: none;
    padding: 0.2em;
}

.navlist a:hover {
    transition: 0.5s;
    color: #21b469;
}

.container1 {
    width: 3em;
    height: 3em;
    border-radius: 5em;
    background: #49d066;
    position: relative;
    transition: 0.8s;
    overflow: hidden;
}

.container1.active {
    width: 22em;
    transition: 0.8s;
}

.container1 .icon {
    font-size: 1em;
    position: absolute;
    left: 1.5em;
    top: 1.5em;
    transform: translate(-50%, -50%);
}

.home {
    font-size: 1.5em;
    left: 1.5em;
    top: 5em;
    margin-right: 1em;
    transition: 0.5s;
}

.home:hover {
    color: #21b469;
    transition: 0.8s;
}

.support {
    font-size: 35px;
    left: 1.5em;
    top: 5em;
    margin-right: 0.5em;
}

.support:hover {
    color: #21b469;
    transition: 0.8s;
}

.input {
    position: relative;
    width: 37em;
    height: 3em;
    left: 3em;
}

.input input {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.2em;
    text-indent: 0.5em;
}

.container1 .input .close {
    position: absolute;
    top: 0.8em;
    right: 8.5em;
    transform: translate(-50%, -50%);
    font-size: 2em;
    cursor: pointer;
    color: #f55f65;
    opacity: 0.7;
}

.container1 .icon .search {
    font-size: 2em;
    cursor: pointer;
    color: #1F1F1F;
}

main {
    margin-top: 0.9em;
    font-family: 'Nunito', sans-serif;
    background: url("IMG/carousel/3.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(300deg,#479f77,#56b786,#56b769,#49d066,#f8dd53ef);
    background-size: 240% 240%;
    animation: main 40s ease infinite;
}

@keyframes main {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

::-webkit-scrollbar {
    width: 0.6rem;
}
 
::-webkit-scrollbar-thumb {
    background: #f55f65;
    border-radius: 5em;
}

::-webkit-scrollbar-track {
    background: #cfcfcf;
}

.box {
    background-color: #F0F0F0;
    position: relative;
    width: 100%;
    max-width: calc(100% - 30%);
    height: calc(100% - 15%);
    border-radius: 5em;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////// */
/* TELA DE RESULTADOS DE PESQUISA */

.top-box {
    width: 100%;
    height: 15%;
    padding: 2%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
}

.bottom-box {
    width: 100%;
    height: 82%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    background: #dbdbdb;
    border-radius: 0% 0% 8% 8%;
    border-top: 2px solid black;
}

.top-box select {
    background: #b3b3b3;
    color: #1F1F1F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    font-family:  'Nunito', sans-serif;;
    margin-bottom: 15px;
    position: absolute;
    left: 80%;
    top: 5%;
}

.top-box option {
    background: #b3b3b3;
    color: #1F1F1F;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family:  'Nunito', sans-serif;
}

.top-box option:hover {
    background: #b3b3b3;
    color: #1F1F1F;
}

/* ////////////////////////////////////// */
/* FOOTER DE BASE */

footer {
    background-color: #3b8a62;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5.2em;
    padding: 0.2em 0em;
    width: 100%;
    box-shadow: 0px -15px 0px 0px #93db3c;
    -webkit-box-shadow: 0px -15px 0px 0px #93db3c;
    -moz-box-shadow: 0px -15px 0px 0px #93db3c;
}

#social-media {
    margin: 1em 0em;
}

#social-media a{
    color: #fbdb44;
    border-radius: 5em;
    text-decoration: none;
    font-size: 3.5em;
    transition: 0.5s;
}

#social-media a:hover {
    letter-spacing: 0.3em;
    transition: 0.5s;
    color: #F0F0F0;
}