/* ESTRUTURA BASE */

@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/nunito');               

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    margin: 0;
}

#logo {
    height: 3.2em;
    width: 3.2em;
    margin-top: 0.7em;
}

nav a {    
    font-size: 2em;
    color: #1F1F1F;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-weight: 550;
}
 
a:hover {
    transition: 0.5s;
    color: #21b469;
}

nav {
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-family: 'Montserrat', sans-serif;
    background: #F0F0F0;
    height: 10vh;
    border-bottom: 0.5em solid #fbdb44;
}

.navlist {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: center;
    left: center;
    border-radius: 5em;
    padding: 0.2em 1em 0.2em 1em;
}
 
.navlist a{
    font-size: 1.7em;
    color: #1F1F1F;
    transition: 0.5s;
    list-style: none;
    text-decoration: none;
    padding-right: 0.5em;
    font-weight: 550;
}

.navlist a:hover {
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: #21b469;
}

.container1 {
    width: 3em;
    height: 3em;
    border-radius: 5em;
    background: #49d066;
    position: relative;
    transition: 0.8s;
    overflow: hidden;
    border: 2px transparent #1F1F1F;
}

.container1.active {
    width: 22em;
    transition: 0.8s;
}

.container1 .icon {
    font-size: 1em;
    position: absolute;
    left: 1.5em;
    top: 1.5em;
    transform: translate(-50%, -50%);
}

.input {
    position: relative;
    width: 37em;
    height: 3em;
    left: 3em;
}

.input input {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5em;
    text-indent: 0.5em;
}

.container1 .input .close {
    position: absolute;
    top: 0.6em;
    right: 7em;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    cursor: pointer;
    color: #fa3c43;
    opacity: 0.7;
}

.container1 .icon .search {
    font-size: 2em;
    cursor: pointer;
    color: #1F1F1F;
}

main {
    font-family: 'Nunito', sans-serif;
    background: url("IMG/carousel/3.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(300deg,#479f77,#56b786,#56b769,#49d066,#f8dd53ef);
    background-size: 240% 240%;
    animation: main 40s ease infinite;
}

#btn {
    border: none;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    left: -0.3em;
}

.options {
    list-style-type: none;
    opacity: 0;
    flex-direction: column;
    position: relative;
    top: -21em;
    left: 87em;
    transition: 0.5s;
}

.options.active {
    background: #F0F0F0;
    border-radius: 2em;
    padding: 1.5em;
    opacity: 1;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -21em;
    left: 87em;
    transition: 0.5s;
}

.options a {
    font-size: 1.2em;
    transition: 0.5s;
    text-decoration: none;
    color: #1F1F1F;
    font-weight: 650;
    padding-bottom: 1em;
}

.options a:hover {
    font-size: 1.2em;
    color: #21b469;
    letter-spacing: 0.05em;
    font-weight: 650;
    transition: 0.5s;
}

@keyframes main {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

::-webkit-scrollbar {
    width: 0.6rem;
}
 
::-webkit-scrollbar-thumb {
    background: #f7a130;
    border-radius: 5em;
}

::-webkit-scrollbar-track {
    background: #c2c2c2;
}

.box {
    background-color: #F0F0F0;
    position: relative;
    width: 100%;
    max-width: calc(100% - 30%);
    height: calc(100% - 8%);
    border-radius: 5em;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////// */
/* PERFIL */

.left-box-pf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 100%;
}

.right-box-pf {
    display: flex;
    justify-content: center;
    width: 65%;
    height: 100%;
}

  .profile-pic {
    width: 10em;
    height: 10em;
    position: absolute;
    display: flex;
    transition: 0.8s;
    top: 4em; 
  }
    
  .profile-pic img {
    box-shadow: 1px 5px 20px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 5px 20px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 5px 20px 0px rgba(0,0,0,0.3);
    border-radius: 5em;
    width: 10em;
    height: 10em;
    position: absolute;
    left: 4em;
    top: 4em;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  .about h2 {
    position: absolute;
    left: 6.5em;
    top: 7em; 
    transform: translate(-50%, -50%);
    font-size: 2.2em;
  }
  
  .about h4 {
    position: absolute;
    left: 8em;
    top: 10.5em;
    transform: translate(-50%, -50%);
    font-size: 1.7em;
    color: #2b2b2b;
  }
  
  .right-box-pf ul {
      list-style: none;
      text-decoration: none;
      color: #1F1F1F;
  }
  
  .right-box-pf li {
      position: relative;
      font-size: 2.5em;
      font-weight: 550;
      color: #2b2b2b;
      display: inline-flex;
      justify-content: center;
      padding: 1em;
      transition: 0.5s;
      cursor: pointer;
  }
  
  .right-box-pf li:hover {
      color: #21b469;
      letter-spacing: 0.01em;
      transition: 0.5s;
  }
  
  .content ul {
      list-style: none;
      text-decoration: none;
      color: #1F1F1F;
      border-top: 2px solid #1f1f1f;
  }
  
  .content li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
      position: relative;
      font-size: 3em;
      top: 2em;
      left: 1em;
      color: #2b2b2b;
      padding: 0.2em;
      transition: 0.5s;
      cursor: pointer;
  }
  
  .content li:hover {
      letter-spacing: 0.1em;
      color: #21b469;
  }

.bio {
    margin-top: -1em;
    width: 20em;
    height: 20em;
    position: relative;
    font-size: 1em;
    top: 10em;
}
/* ////////////////////////////////////// */
/* ARTICLES */

.main-home-box {
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1em;
}

.bottom-home-box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-right: 5em; */
}

.top-home-box p {
    font-size: 2em;
    font-weight: 550;
    transition: 0.5s;
    cursor: pointer;
    font-size: 2em;
}

.top-home-box p:hover {
    color: #21b469;
    transition: 0.5s;
    letter-spacing: 0.01em;   
}

.card-article img {
    width: 10em;
    height: 11em;
    border-radius: 2em 0 0 2em;
    transition: 0.1s;
    margin-right: 1em;
}

.card-article {
    width: 50em;
    height: 11em;
    border-radius: 2em;
    background: #21b469;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.info-article h4 {
    padding-top: 0.5em;
}

.info-article p {
    padding-bottom: 0.5em;
}

.read_more {
    background-color: #1F1F1F;
    color: white;
    padding: 0.9em;
    border: none;
    border-radius: 2em;
    font-size: 0.9em;
    margin-bottom: 0.2em;
    font-weight: 550;
    transition: 0.2s;
    cursor: pointer;
}
 
.read_more:hover {
    font-size: 0.92em;
    transition: 0.2s;
}

.bullets-home {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.bullets-home span {
    display: block;
    width: 1em;
    height: 1em;
    background-color: #1F1F1F;
    margin: 0 0.4em;
    border-radius: 5em; 
    transition: 0.4s;
}

.bullets-home span.active {
    width: 2em;
    background-color: #21b469;
    border-radius: 1em;
}

/* ////////////////////////////////////// */
/* FOOTER DE BASE */

footer {
    background-color: #3b8a62;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5.2em;
    padding: 0.2em 0em;
    width: 100%;
    box-shadow: 0px -15px 0px 0px #93db3c;
    -webkit-box-shadow: 0px -15px 0px 0px #93db3c;
    -moz-box-shadow: 0px -15px 0px 0px #93db3c;
}

#social-media {
    margin: 1em 0em;
}

#social-media a{
    color: #fbdb44;
    border-radius: 5em;
    text-decoration: none;
    font-size: 3.5em;
    transition: 0.5s;
}

#social-media a:hover {
    letter-spacing: 0.3em;
    transition: 0.5s;
    color: #F0F0F0;
}