/* ESTRUTURA BASE */

@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/nunito');               

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    margin: 0;
}

#logo {
    height: 3.2em;
    width: 3.2em;
    margin-top: 0.7em;
}

nav a {    
    font-size: 2em;
    color: #1F1F1F;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-weight: 550;
}
 
a:hover {
    transition: 0.5s;
    color: #21b469;
}

nav {
    display:flex;
    align-items: center;
    justify-content:space-between;
    font-family: 'Montserrat', sans-serif;
    background: #F0F0F0;
    height: 10vh;
    border-bottom: 0.5em solid #fbdb44;
}

.navlist {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: center;
    left: center;
    border-radius: 5em;
    padding: 0.2em 1em 0.2em 1em;
}
 
.navlist a{
    font-size: 1.7em;
    color: #1F1F1F;
    transition: 0.5s;
    list-style: none;
    text-decoration: none;
    padding-right: 0.5em;
    font-weight: 550;
}

.navlist a:hover {
    transition: 0.5s;
    letter-spacing: 0.05em;
    color: #21b469;
}

.container1 {
    width: 3em;
    height: 3em;
    border-radius: 5em;
    background: #49d066;
    position: relative;
    transition: 0.8s;
    overflow: hidden;
    border: 2px transparent #1F1F1F;
}

.container1.active {
    width: 22em;
    transition: 0.8s;
}

.container1 .icon {
    font-size: 1em;
    position: absolute;
    left: 1.5em;
    top: 1.5em;
    transform: translate(-50%, -50%);
}

.input {
    position: relative;
    width: 37em;
    height: 3em;
    left: 3em;
}

.input input {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5em;
    text-indent: 0.5em;
}

.container1 .input .close {
    position: absolute;
    top: 0.6em;
    right: 7em;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
    cursor: pointer;
    color: #fa3c43;
    opacity: 0.7;
}

.container1 .icon .search {
    font-size: 2em;
    cursor: pointer;
    color: #1F1F1F;
}

main {
    font-family: 'Nunito', sans-serif;
    background: url("IMG/carousel/3.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(300deg,#479f77,#56b786,#56b769,#49d066,#f8dd53ef);
    background-size: 240% 240%;
    animation: main 40s ease infinite;
}

#btn {
    border: none;
    font-size: 2em;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    left: -0.3em;
}

.options {
    list-style-type: none;
    opacity: 0;
    flex-direction: column;
    position: relative;
    top: -45%;
    left: 77%;
    transition: 0.5s;
}

.options.active {
    background: #F0F0F0;
    border-radius: 2em;
    padding: 1.5em;
    opacity: 1;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: -45%;
    left: 77%;
    transition: 0.5s;
}

.options a {
    font-size: 1.2em;
    transition: 0.5s;
    text-decoration: none;
    color: #1F1F1F;
    font-weight: 650;
    padding-bottom: 1em;
}

.options a:hover {
    font-size: 1.2em;
    color: #21b469;
    letter-spacing: 0.05em;
    font-weight: 650;
    transition: 0.5s;
}

@keyframes main {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

::-webkit-scrollbar {
    width: 0.6rem;
}
 
::-webkit-scrollbar-thumb {
    background: #f7a130;
    border-radius: 5em;
}

::-webkit-scrollbar-track {
    background: #c2c2c2;
}

.box {
    background-color: #F0F0F0;
    position: relative;
    width: 100%;
    max-width: calc(100% - 30%);
    height: calc(100% - 8%);
    border-radius: 5em;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

/* ////////////////////////////////////// */
/* Gastronomy */

.top-gastronomy-box {
    width: 100%;
    height: 10%;
    /* background-color: #21b469; */
}
.top-gastronomy-box h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    font-weight: 550;
    transition: 0.5s;
    /* background-color: #21b469; */
}
 
.top-gastronomy-box h1:hover {
    color: #21b469;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    font-weight: 550;
    transition: 0.5s;
    /* background-color: #21b469; */
}
 
.left-gastronomy-box {
    width: 45%;
    height: 90%;
    /* background-color: #f7a130; */
    position: relative;
    left: 0;
}
.right-gastronomy-box {
    width: 55%;
    height: 90%;
    /* background-color: #93db3c; */
    position: relative;
    left: 45%;
    top: -90%;
}

.slider-gastronomy {
    width: 30em;
    height: 30em;
    border-radius: 3em;
    background-color: #1F1f1f;
    display: flex;
    position: relative;
    top: 10%;
    left: 8%;
    overflow: hidden;
}

.list-img {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.list-img img {
    width: 30em;
    height: 30em;
    object-fit: cover;
    border-radius: 3em;
}

.ul-dots {
    position: absolute;
    bottom: 2em;
    width: 7em;
    height: 1em;
    left: 12em;
    color: #1F1F1F;
    display: inline-flex;
    margin-left: 0.2em;
    margin-right: 0.2em;
    justify-content: center;
    align-items: center;
}

.ul-dots li {
    list-style: none;
    width: 7em;
    height: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    background-color: #1f1f1f;
    border-radius: 4em;
    cursor: pointer;
    transition: 1s;
}

.ul-dots li.active {
    list-style: none;
    width: 14em;
    height: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    background-color: #fa3c43;
    border-radius: 4em;
}

.gastronomy-card {
    width: 40em;
    height: 8em;
    background-color: #fa3c43;
    padding: 1em;
    border-radius: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.4);
    cursor: pointer;
    margin-bottom: 1.5em;
    transition: 0.5s;
}

.gastronomy-card:hover {
    width: 41em;
    height: 9em;
}

/* ////////////////////////////////////// */
/* FOOTER DE BASE */

footer {
    background-color: #3b8a62;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 5.2em;
    padding: 0.2em 0em;
    width: 100%;
    border-top: 0.5em solid #93db3c;
}

#social-media {
    margin: 1em 0em;
}

#social-media a{
    color: #fbdb44;
    border-radius: 5em;
    text-decoration: none;
    font-size: 3.5em;
    transition: 0.5s;
}

#social-media a:hover {
    letter-spacing: 0.3em;
    transition: 0.5s;
    color: #F0F0F0;
}